body{
  margin: 0;
    height: 100vh;
    max-width: 1000px;
}
/*Screen pictures*/
@media only screen and (min-width:200px){
    body {
        background: url("/assets/home/background-home-mobile.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    .col-md-4{
      margin-left: 25%;
     }
    }
@media only screen and (min-width:768px){
    body {
        background: url("/assets/home/background-home-tablet.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    .navbar{
        min-width:680px;
    }
    .col-md-4{
      margin-left: 75%;
      margin-bottom: 5%;
      position: relative;
      bottom: 200px;
      padding-left: 5%;
     } 
    }
@media only screen and (min-width:1280px){
    body {
        background: url("/assets/home/background-home-desktop.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
    }
.line{
        flex: 1;
        min-width: 300px;
        border-bottom: 1px solid rgb(226, 226, 236);
        position: relative;
        bottom: 45px;
        left: 40px;
      }
      .col-md-4{
        margin-left: 85%;
        margin-bottom: 5%;
        position: relative;
        bottom: 20px;
       }
    }
.line{
    flex: 1;
}
.navbar{
    background-color: rgba(95, 91, 115, 0.4);
    float: right;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 20px 0px 0px 0px;
    flex: 2;
}
.nav a{
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-family: "Barlow Condensed", sans-serif;
    margin:0px 10px;
}
.nav a:hover{
    border-bottom: 5px solid rgb(10, 10, 121);
    padding-bottom: 10px;
}
span{
    font-weight: bold;
    padding-right: 10px;
}
#logo{
    margin-top: 30px;
    margin-left: 50px;
}
.icon-bar {
    color: white;
    border-color: white;
    background-color: white;
  }
  .col-md-12{
      display:flex ;
  }
  .para{
    color: white;
    font-family: "Bellefair" ,serif;
    margin-left: 20%;
    margin-top: 50px;
    padding: 5px 80px 5px 0px;
  }
  .para1{
    font-size: 25px;
    margin: 10px;
  }
  .para2{
    font-size: 60px;
    margin: 10px;
  }
  .para3{
    font-size: 20px;
    max-width: 400px;
    min-width: 300px;
    margin: 10px;
  }
  .explore{
    font-size: 25px;
    font-family: "Bellefair" ,serif;
    color: rgb(14, 14, 14);
    background-color: white;
    width: 200px;
    height: 200px;
    border: 2px solid white;
    border-radius: 150px;
    padding: 80px 60px 90px;
    
  }
